$deepRed: #a83232;
$vibrantBlue: #3275a8;
$pitShadow: 0 4px 8px rgba(0, 0, 0, 0.2);

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', sans-serif;

  .player1-label {
    font-size: 2.5em;
    font-family: 'Kaushan Script', fantasy;
    font-weight: bold;
    color: $deepRed;
    margin: 10px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
  }

  .player2-label {
    font-size: 2.5em;
    font-family: 'Kaushan Script', fantasy;
    font-weight: bold;
    color: $vibrantBlue;
    margin: 10px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
  }

  .game-info {
    margin: 10px 0;
    font-size: 1.2em;
    font-family: 'Kaushan Script', monospace;
    color: #333;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

    div {
      margin: 5px 0;
    }
  }
}

.spacer {
  width: 210px;
  margin: 0 10px;
}

.player-pits {
  display: flex;
  justify-content: center;

  &.upper-row {
    flex-direction: row-reverse;
  }

  .pit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;

    .pit-index {
      margin: 5px;
    }

    .pit {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      border: 2px solid #ddd;
      margin: 5px;
      padding: 10px;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      cursor: pointer;
      box-shadow: $pitShadow;
      transition: transform 0.3s ease;
      position: relative;

      .stone {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: whitesmoke;
        margin: 2px;
        display: inline-block;
        position: relative;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 14px; // Slightly larger than the stone itself
          height: 14px;
          border-radius: 50%;
          border: 2px solid #ddd; // Border color
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); // Optional: additional shadow for the circle
        }
      }

      &.unclickable {
        cursor: not-allowed;
        opacity: 0.6;
      }

      &.special-pit {
        background-color: darkgoldenrod;
        color: white;
        border: 2px solid gold;
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &.upper-row .pit {
    background-color: $deepRed;
    color: white;
  }

  &.lower-row .pit {
    background-color: $vibrantBlue;
    color: white;
  }
}
